#app-footer-container {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    border-top: .2rem solid;
    #app-description {
        font-size: 2rem;
        font-weight: bold;
    }
    #credentials-info {
        font-size: 2rem;
    }
    #credentials-info span {
        font-weight: bold;
    }
}