#basic-calculator {
    min-width: 50rem;
    max-width: 50rem;
    height: 46.875rem;
    border: .2rem solid;
    #basic-calculator-input {
        width: -webkit-fill-available;
        height: 5rem;
        margin: 2rem 2rem;
        padding: 0rem 1rem;
        font-size: 3rem;
        background-color: lightgoldenrodyellow;
    }

    .basic-calculator-row {
        margin: 2rem 2rem;
        display: flex;
        justify-content: space-between;
    }
}